.carouselSlide {
  @include responsive(mobile) {
    width: 100vw;

    ul {
      display: none !important;
    }
  }
  @include responsive(tablet) {
    width: 100vw;

    ul {
      display: none !important;
    }
  }
}

.carousel {
  width: 100vw;
  height: 100vh;
  .slide {
    position: relative;
    width: 100%;
    height: 100vh;
    @include responsive(mobile) {
      height: 100vh;
    }
  }
  .slide1 {
    background-size: cover;
    background-image: url(../Assets/imagesCarousel/extraccion.jpeg);
    background-position: 0vh -25vh;
    @include responsive(mobile) {
      background-image: url(../Assets/imagesCarousel/extraccionMobile.jpeg);
      background-size: contain;
      background-position: 0vh 8vh;
      background-repeat: no-repeat;
    }
    @include responsive(tablet) {
      background-image: url(../Assets/imagesCarousel/extraccionMobile.jpeg);
      background-size: contain;
      background-position: 0vh 8vh;
      background-repeat: no-repeat;
    }
  }
  .slide2 {
    background-size: cover;
    background-image: url(../Assets/imagesCarousel/microscopio.jpeg);
    background-position: 0vh -30vh;
    @include responsive(mobile) {
      background-image: url(../Assets/imagesCarousel/microscopio.jpeg);
      background-size: contain;
      background-position: 0vh 8vh;
      background-repeat: no-repeat;
    }
    @include responsive(tablet) {
      background-image: url(../Assets/imagesCarousel/microscopio.jpeg);
      background-size: contain;
      background-position: 0vh 8vh;
      background-repeat: no-repeat;
    }
  }
  .slide3 {
    background-size: cover;
    background-image: url(../Assets/imagesCarousel/Familia.jpg);
    background-position: 0vh -2vh;
    @include responsive(mobile) {
      background-image: url(../Assets/imagesCarousel/FamiliaMobile.jpg);
      background-size: contain;
      background-position: 0vh 9vh;
      background-repeat: no-repeat;
    }
    @include responsive(tablet) {
      background-image: url(../Assets/imagesCarousel/FamiliaMobile.jpg);
      background-size: contain;
      background-position: 0vh 9vh;
      background-repeat: no-repeat;
    }
  }
  .slide4 {
    background-size: cover;
    background-image: url(../Assets/imagesCarousel/clia.jpg);
    background-position: 0vh -25vh;
    @include responsive(mobile) {
      background-image: url(../Assets/imagesCarousel/cliaMobile.jpg);
      background-size: contain;
      background-position: 0vh 10vh;
      background-repeat: no-repeat;
    }
    @include responsive(tablet) {
      background-image: url(../Assets/imagesCarousel/cliaMobile.jpg);
      background-size: contain;
      background-position: 0vh 5vh;
      background-repeat: no-repeat;
    }
  }
  .slide5 {
    background-size: cover;
    background-image: url(../Assets/imagesCarousel/CMD800i.jpg);
    background-position: 0vh -13vh;
    @include responsive(mobile) {
      background-image: url(../Assets/imagesCarousel/CMD800iMobile.jpg);
      background-size: contain;
      background-position: 0vh 10vh;
      background-repeat: no-repeat;
    }
    @include responsive(tablet) {
      background-image: url(../Assets/imagesCarousel/CMD800iMobile.jpg);
      background-size: contain;
      background-position: 0vh 10vh;
      background-repeat: no-repeat;
    }
  }
  .slide6 {
    background-size: cover;
    background-image: url(../Assets/imagesCarousel/cobas.jpg);
    background-position: 0vh -10vh;
    @include responsive(mobile) {
      background-image: url(../Assets/imagesCarousel/cobasMobile.jpg);
      background-size: contain;
      background-position: 0vh 10vh;
      background-repeat: no-repeat;
    }
    @include responsive(tablet) {
      background-image: url(../Assets/imagesCarousel/cobasMobile.jpg);
      background-size: contain;
      background-position: 0vh 5vh;
      background-repeat: no-repeat;
    }
  }
  .slide7 {
    background-size: cover;
    background-image: url(../Assets/imagesCarousel/personal.jpeg);
    background-position: 0vh -10vh;
    @include responsive(mobile) {
      background-image: url(../Assets/imagesCarousel/personal.jpeg);
      background-size: contain;
      background-position: 0vh 10vh;
      background-repeat: no-repeat;
    }
    @include responsive(tablet) {
      background-image: url(../Assets/imagesCarousel/personal.jpeg);
      background-size: contain;
      background-position: 0vh 5vh;
      background-repeat: no-repeat;
    }
  }
  .textoContainerSlide {
    width: 50%;
    height: 130vh;
    position: relative;
    background-color: #ad4c9577 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -20vh;
    left: 8vw;
    @include responsive(mobile) {
      background-color: #ad4c95e7 !important;
      border-radius: 6px;
      left: 0;
      top: 45vh;
      margin: 0 auto;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: flex-start !important;
      height: 50vh;
      width: 95vw !important;
      text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
    }
    @include responsive(tablet) {
      background-color: #ad4c95e7 !important;
      border-radius: 6px;
      left: 0;
      top: 45vh;
      margin: 0 auto;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: flex-start !important;
      height: 50vh;
      width: 95vw !important;
      text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
    }
  }
}

.tituloSlide {
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
  font: $titulo;
  font-size: 4vw;
  margin: 10px 0 30px 20px;
  width: 90%;
  // color: $violetPrimary;
  color: white;
  @include responsive(mobile) {
    width: 100%;
    text-align: center;
    font-size: 8.5vw !important;
    width: auto !important;
    color: white !important;
    margin: 10px 10px !important;
  }
  @include responsive(tablet) {
    text-align: center;
    font-size: 8vw;
    width: auto !important;
    color: white !important;
    margin: 10px 10px !important;
  }
}

.spanSlide {
  // color: $violetSecondary;
  color: white;
  @include responsive(mobile) {
    color: white !important;
  }
  @include responsive(tablet) {
    color: white !important;
  }
}

.subSlide {
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.801);
  font: $subtitulo;
  font-size: 1.5vw;
  margin: 10px 20px 0 20px;
  width: 90% !important;
  // color: #1d1d1b;
  color: white;
  @include responsive(mobile) {
    width: 100% !important;
    text-align: center;
    font-size: 3.5vw !important;
    margin: 10px 10px !important;
    color: white !important;
  }
  @include responsive(tablet) {
    width: auto !important;
    text-align: center;
    font-size: 3vw;
    margin: 10px 10px !important;
    color: white !important;
  }
}
p {
  font: $texto2;
  font-size: 1.4vw;
  margin: 20px 20p 0 20px;
  width: 100%;
  color: #1d1d1b;
}

li {
  margin-top: 20px;
  position: relative;
  float: left;
  list-style: none !important;

  margin-right: 20px;
}
.prev {
  z-index: 5;
  position: absolute;
  left: 40px;
  top: 50%;
  display: block;
  height: 50px;
  width: 50px;
  background: url("../Assets/imagesCarousel/arrow-left.png") no-repeat;
  background-size: contain;
}
.next {
  display: block;
  height: 50px;
  width: 50px;
  background: url("../Assets/imagesCarousel/arrow-right.png") no-repeat;
  background-size: contain;
  z-index: 5;
  position: absolute;
  right: 20px;
  top: 50%;
}
